*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
}
.calculator_container{
  width:400px;
  height:500px;
  border:1px solid black;
  border-radius:50px;
  position:absolute;
  top:60px;
  left:400px;
  display:grid;
  grid-template-rows:100px 400px;
  grid-template-areas:
  "screens"
  "buttons";
  
}
.screen{
    grid-area:screens;
    border:1px solid green;

}
.butn{
    grid-area:buttons;
    border:1px solid red;
}
.row1{

}
.row2{
    
}
.row3{
    
}
.row4{
    
}
 .but{

 }
 #equals{

 }